table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 5px;
}
th {
  text-align: center;
}
tbody tr:nth-child(even) {
  background-color: #c0c0c0
}
td.orange {
  background-color: orange
}
td.red {
  background-color: red
}
